<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="34" android:compileSdkVersionCodename="14" package="com.scorpio.securitycom" platformBuildVersionCode="34" platformBuildVersionName="14">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.securitycom.permission.ACCESS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.INSTALL_SELF_UPDATES"/>
    <uses-permission android:name="android.permission.MANAGE_CA_CERTIFICATES"/>
    <uses-permission android:name="android.permission.MANAGE_USERS"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:maxSdkVersion="32" android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.USE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_ORGANIZATION_IDENTITY"/>
    <permission android:description="@string/security_permission" android:label="@string/security_permission" android:name="com.securitycom.permission.ACCESS" android:protectionLevel="signature"/>
    <queries>
        <package android:name="com.transsnet.store"/>
        <package android:name="com.android.vending"/>
        <package android:name="com.google.android.webview"/>
        <package android:name="com.android.keychain"/>
        <package android:name="com.scorpio.securitycom"/>
        <intent>
            <action android:name="android.intent.action.MAIN"/>
        </intent>
    </queries>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="com.transsion.tpush.permission.WRITE_PROVIDER"/>
    <uses-permission android:name="com.transsion.tpush.permission.READ_PROVIDER"/>
    <uses-permission android:name="com.transsion.dataservice.permission.READ"/>
    <uses-permission android:name="com.transsion.dataservice.permission.WRITE"/>
    <meta-data android:name="tran_athena_version" android:value="3.1.1.0"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <meta-data android:name="tran_gslb_version" android:value="1.0.3.1"/>
    <meta-data android:name="tran_http_version" android:value="1.0.53.01"/>
    <meta-data android:name="tran_coreutil_version" android:value="1.0.61.09"/>
    <meta-data android:name="tran_json_version" android:value="1.0.5.01"/>
    <application android:allowBackup="false" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:dataExtractionRules="@xml/data_extraction_rules" android:extractNativeLibs="false" android:fullBackupContent="@xml/full_backup_content" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:name="com.scorpio.PayTriggerApplication" android:resizeableActivity="false" android:supportsRtl="true" android:theme="@style/AppTheme" android:usesCleartextTraffic="false" android:usesNonSdkApi="true">
        <meta-data android:name="android.supports_size_changes" android:value="true"/>
        <meta-data android:name="securitycom.supports_rid_hash_check" android:value="true"/>
        <meta-data android:name="securitycom.supports_data_sign_check" android:value="true"/>
        <meta-data android:name="securitycom.supports_rpmb" android:value="false"/>
        <meta-data android:name="securitycom.supports_process_guard" android:value="true"/>
        <receiver android:exported="true" android:name="com.scorpio.receive.ExportedStaticReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE"/>
                <data android:scheme="android_secret_code"/>
                <data android:host="7298"/>
                <data android:host="72981"/>
                <data android:host="729801"/>
                <data android:host="7298810"/>
                <data android:host="7298911"/>
            </intent-filter>
        </receiver>
        <service android:enabled="false" android:exported="false" android:name="com.scorpio.alienengine.XCrashUploadService"/>
        <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="false"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:excludeFromRecents="true" android:launchMode="singleInstance" android:name="com.scorpio.activity.PrivacyPolicyActivity" android:screenOrientation="behind" android:theme="@style/AppCompatDialogTheme"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:excludeFromRecents="true" android:exported="false" android:launchMode="singleTop" android:name="com.scorpio.activity.LogActivity" android:screenOrientation="behind" android:theme="@style/QThemeDark_blue"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:excludeFromRecents="true" android:exported="false" android:launchMode="singleTask" android:name="com.scorpio.activity.UnlockActivity" android:screenOrientation="behind" android:taskAffinity="com.scorpio.activity.UnlockActivity" android:theme="@style/QThemeDark_blue"/>
        <activity android:excludeFromRecents="true" android:exported="false" android:launchMode="singleInstance" android:name="com.scorpio.activity.UpdateActivity" android:theme="@style/OnePxActivityStyle"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:excludeFromRecents="true" android:exported="false" android:launchMode="singleTop" android:name="com.scorpio.activity.DebugActivity" android:screenOrientation="behind" android:theme="@style/QThemeDark_blue"/>
        <activity android:excludeFromRecents="true" android:exported="false" android:launchMode="singleInstance" android:name="com.scorpio.activity.LockCheckActivity" android:theme="@style/OnePxActivityStyle"/>
        <activity android:excludeFromRecents="true" android:exported="false" android:launchMode="singleInstance" android:name="com.scorpio.activity.PermissionRequestActivity" android:theme="@style/OnePxActivityStyle"/>
        <service android:enabled="true" android:exported="true" android:name="com.scorpio.service.SecurityComApiService">
            <intent-filter>
                <action android:name="com.securitycom.action.SERVICE_API"/>
            </intent-filter>
        </service>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:excludeFromRecents="true" android:gestureColor="@color/transparent" android:launchMode="singleInstance" android:name="com.scorpio.activity.DialogActivity" android:screenOrientation="behind" android:theme="@style/DialogTheme"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:excludeFromRecents="true" android:exported="false" android:gestureColor="@color/transparent" android:launchMode="singleInstance" android:name="com.scorpio.activity.OtaDialogActivity" android:screenOrientation="behind" android:theme="@style/DialogTheme"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:excludeFromRecents="true" android:exported="false" android:launchMode="singleTask" android:name="com.scorpio.activity.PayStateActivity" android:screenOrientation="behind" android:theme="@style/QThemeDark_white"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:excludeFromRecents="true" android:exported="false" android:launchMode="singleTask" android:name="com.scorpio.activity.PayStateActivityNew" android:screenOrientation="behind" android:theme="@style/QThemeDark_blue_low"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:excludeFromRecents="true" android:exported="false" android:launchMode="singleTask" android:lockTaskMode="if_whitelisted" android:name="com.scorpio.activity.ScreenBlockActivity" android:screenOrientation="behind" android:theme="@style/QThemeDark_white"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:excludeFromRecents="true" android:exported="false" android:launchMode="singleTask" android:lockTaskMode="if_whitelisted" android:name="com.scorpio.activity.ScreenBlockActivityNew" android:screenOrientation="behind" android:theme="@style/QThemeDark_black"/>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.scorpio.activity.WhiteAppsShowActivity" android:screenOrientation="behind" android:theme="@style/QThemeDark_white"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:enabled="true" android:excludeFromRecents="true" android:exported="true" android:launchMode="singleTop" android:name="com.scorpio.activity.CrmActivity" android:screenOrientation="behind" android:theme="@style/QThemeDark_white">
            <intent-filter>
                <action android:name="com.securitycom.action.crm"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:enabled="true" android:excludeFromRecents="true" android:exported="false" android:launchMode="singleTop" android:name="com.scorpio.activity.ActiveSuccessActivity" android:screenOrientation="behind" android:taskAffinity="com.scorpio.activity.ActiveSuccessActivity" android:theme="@style/QThemeDark_white"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:excludeFromRecents="true" android:exported="false" android:gestureColor="@color/transparent" android:launchMode="singleInstance" android:name="com.scorpio.activity.RecommendAppActivity" android:screenOrientation="behind" android:theme="@style/DialogTheme"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:enabled="true" android:excludeFromRecents="true" android:exported="false" android:name="com.scorpio.activity.ActiveFailActivity" android:screenOrientation="behind" android:theme="@style/QThemeDark_white"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:excludeFromRecents="true" android:launchMode="singleTop" android:name="com.scorpio.activity.WebViewActivity" android:screenOrientation="behind" android:theme="@style/QThemeDark_blue"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:excludeFromRecents="true" android:launchMode="singleTask" android:name="com.scorpio.activity.FeedbackActivity" android:screenOrientation="behind" android:taskAffinity="com.scorpio.activity.FeedbackActivity" android:theme="@style/QThemeDark_white"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:excludeFromRecents="true" android:launchMode="singleTask" android:name="com.scorpio.activity.PinUnlockActivity" android:screenOrientation="behind" android:theme="@style/QThemeDark_white"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:excludeFromRecents="true" android:gestureColor="@color/transparent" android:launchMode="singleInstance" android:name="com.scorpio.activity.SimChangeDialogActivity" android:screenOrientation="behind" android:theme="@style/DialogTheme"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:excludeFromRecents="true" android:launchMode="singleTask" android:lockTaskMode="if_whitelisted" android:name="com.scorpio.activity.LockTaskAntiTheftActivity" android:screenOrientation="behind" android:theme="@style/QThemeDark_white"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:excludeFromRecents="true" android:launchMode="singleTask" android:lockTaskMode="if_whitelisted" android:name="com.scorpio.activity.LockTaskAgreementActivity" android:screenOrientation="behind"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:excludeFromRecents="true" android:exported="false" android:launchMode="singleTask" android:lockTaskMode="if_whitelisted" android:name="com.scorpio.activity.TelephoneActivity" android:screenOrientation="behind"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:excludeFromRecents="true" android:exported="false" android:name="com.scorpio.activity.CustomerOrPaymentActivity" android:screenOrientation="behind"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:excludeFromRecents="true" android:exported="false" android:name="com.scorpio.activity.OtherPayActivity" android:screenOrientation="behind" android:theme="@style/QThemeDark_white"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:excludeFromRecents="true" android:gestureColor="@color/transparent" android:launchMode="singleInstance" android:name="com.scorpio.activity.MultUserActivity" android:screenOrientation="behind" android:theme="@style/DialogTheme"/>
        <meta-data android:name="android.webkit.WebView.EnableSafeBrowsing" android:value="true"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.scorpio.control.AdminReceiver" android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED"/>
            </intent-filter>
            <meta-data android:name="android.app.device_admin" android:resource="@xml/device_admin"/>
        </receiver>
        <receiver android:exported="false" android:name="com.scorpio.receive.StaticReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="transsion.action.START_BOOT"/>
                <action android:name="com.securitycom.action.NOTIFICATION"/>
                <action android:name="com.securitycom.action.INSTALL_SELF_UPDATES"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
                <action android:name="com.securitycom.action.HEARTBEAT"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="false" android:name="com.scorpio.receive.MyReceiver"/>
        <service android:exported="false" android:name="com.scorpio.service.KeepAliveService" android:permission="com.scorpio.securitycom.permission.ACCESS">
            <intent-filter>
                <action android:name="com.scorpio.securitycom.SEPersistentService"/>
            </intent-filter>
        </service>
        <service android:enabled="true" android:exported="false" android:name="com.scorpio.service.DeviceAdminKeepAliveService" android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_SERVICE"/>
            </intent-filter>
        </service>
        <service android:exported="true" android:name="com.scorpio.service.PullService"/>
        <service android:exported="false" android:name="com.scorpio.service.ActivateBgService"/>
        <provider android:authorities="com.scorpio.fileprovider" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
        <provider android:authorities="com.scorpio.numberprovider" android:exported="true" android:grantUriPermissions="true" android:name="com.scorpio.provider.NumberProvider" android:permission="com.securitycom.permission.ACCESS"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:excludeFromRecents="true" android:exported="true" android:launchMode="singleTask" android:name="com.scorpio.activity.ProvisioningSuccessActivity" android:screenOrientation="behind" android:theme="@style/QThemeDark_white">
            <intent-filter>
                <action android:name="android.app.action.PROVISIONING_SUCCESSFUL"/>
                <action android:name="android.app.action.ADMIN_POLICY_COMPLIANCE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.PROVISIONING_FINALIZATION"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:excludeFromRecents="true" android:exported="true" android:launchMode="singleTask" android:name="com.scorpio.activity.SuwTermsActivity" android:screenOrientation="behind" android:theme="@style/QThemeDark_white">
            <intent-filter>
                <action android:name="com.securitycom.ACTION_SUW_INTRO"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <action android:name="com.securitycom.action.HOME"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity-alias android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:enabled="false" android:exported="true" android:name="com.scorpio.securitycom.LauncherActivityAlias" android:screenOrientation="behind" android:targetActivity="com.scorpio.activity.SuwTermsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity android:excludeFromRecents="true" android:exported="false" android:launchMode="singleInstance" android:name="com.scorpio.activity.UnfoldPhoneActivity" android:screenOrientation="behind" android:theme="@style/QThemeDark_white"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:excludeFromRecents="true" android:launchMode="singleTask" android:name="com.scorpio.activity.SuwRegisterActivity" android:screenOrientation="behind" android:theme="@style/QThemeDark_white"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:excludeFromRecents="true" android:exported="true" android:launchMode="singleTask" android:name="com.scorpio.activity.GetProvisioningModeActivity" android:permission="android.permission.MANAGE_PROFILE_AND_DEVICE_OWNERS" android:screenOrientation="behind" android:theme="@style/QThemeDark_white">
            <intent-filter>
                <action android:name="android.app.action.GET_PROVISIONING_MODE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize" android:excludeFromRecents="true" android:exported="false" android:launchMode="singleTask" android:lockTaskMode="if_whitelisted" android:name="com.scorpio.activity.ForceSystemUpdateActivity" android:screenOrientation="behind" android:theme="@style/QThemeDark_white"/>
        <service android:enabled="true" android:exported="true" android:name="com.scorpio.service.CheckingService" android:permission="android.permission.DISPATCH_PROVISIONING_MESSAGE">
            <intent-filter>
                <action android:name="com.securitycom.action.Checking"/>
            </intent-filter>
        </service>
        <service android:exported="false" android:name="com.scorpio.service.JobSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:name="com.scorpio.logreport.upload.LogUploadService"/>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.transsion.pushui.activity.TransparentActivity" android:taskAffinity="com.transsion.pushui" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:exported="true" android:name="com.transsion.pushui.activity.PushActivity">
            <intent-filter>
                <action android:name="tpush.intent.action.TPUSH"/>
            </intent-filter>
        </activity>
        <receiver android:exported="true" android:name="com.transsion.push.broadcast.FCMMessageReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter android:priority="999">
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="com.scorpio.securitycom"/>
            </intent-filter>
        </receiver>
        <service android:exported="true" android:name="com.transsion.push.service.PushJobIntentService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.transsion.push.broadcast.HandlerBroadcastReceiver">
            <intent-filter android:priority="999">
                <action android:name="tpush.intent.action.TPUSH_MSG_RECEIVER"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="tran_push_version" android:value="1.8.5.02"/>
        <meta-data android:name="tpush_app_id" android:value="b53e560723a54504a229d8409c1e1bde"/>
        <meta-data android:name="tpush_app_key" android:value="daffdd3f764b46c781f53006f46a1c35"/>
        <service android:name="com.transsion.athena.aidl.AthenaTrackService"/>
        <provider android:authorities="com.scorpio.securitycom.com.liulishuo.okdownload" android:exported="false" android:name="com.liulishuo.okdownload.OkDownloadProvider"/>
        <provider android:authorities="com.scorpio.securitycom.autosize-init-provider" android:exported="false" android:multiprocess="true" android:name="me.jessyan.autosize.InitProvider"/>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
            <meta-data android:name="com.google.android.gms.cloudmessaging.FINISHED_AFTER_HANDLED" android:value="true"/>
        </receiver>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.iid.Registrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.ktx.FirebaseCommonLegacyRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.FirebaseCommonKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <provider android:authorities="com.scorpio.securitycom.firebaseinitprovider" android:directBootAware="true" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
        <meta-data android:name="trans_crypto_sdk_version" android:value="1.0.9.01"/>
    </application>
</manifest>