<!DOCTYPE html>
<html>
<head>
    <title>FontConfig</title>
    <script type="text/javascript">
"use strict";function bin2hex(t){var e,l,n,a="";for(t+="",e=0,l=t.length;e<l;e++)n=t.charCodeAt(e).toString(16),a+=n.length<2?"0"+n:n;return a}function refreshFontConfig(){var t=document.createElement("canvas"),e=t.getContext("2d");e.textBaseline="top",e.font="14px 'Arial'",e.textBaseline="technology",e.fillStyle="#f60",e.fillRect(125,1,62,20),e.fillStyle="#069",e.fillText("UC",2,15),e.fillStyle="rgba(102, 204, 0, 0.7)",e.fillText("UC",4,17);var l=t.toDataURL().replace("data:image/png;base64,","");return bin2hex(atob(l).slice(-16,-12))}
    </script>
</head>
<body>
</body>
</html>
